
.main_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #1e1e2f;
    color: #ffffff;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.main_header .container-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo img {
    height: 50px;
}

.main_nav ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
    list-style: none;
    margin-bottom: 0;
}

.main_nav li ul {
    display: none;
    background-color: #1e1e2f;
}
.main_nav a {
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
    text-decoration: none;
    background-color: 1e1e2f;
}

.main_nav a:hover {
    color: #00bcd4;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2b2b3c;
    min-width: 180px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    border-bottom: 1px solid #3e3e4e;
}
.dropdown-menu {
    background-color: #2b2b3c;
}
.dropdown-menu li a {
    display: block;
    padding: 0.75rem 1rem;
    background-color: #1e1e2f;
}

.dropdown-menu li a:hover {
    color: #00bcd4 ;
}

.divider {
    height: 1px;
    background-color: #555;
}
